# Môi trường ảo Python
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Google Cloud & Security Credentials
*.json
sa_key.json
config/sa_key.json
*.pem

# Streamlit Local Secrets
dashboard/.streamlit/secrets.toml

# dbt Artifacts & Logs
olist_dbt/target/
olist_dbt/dbt_packages/
logs/
*.log

# IDE & OS
.vscode/
.DS_Store